#root {
  width: 100vw;
  max-width: 100vw;
  font-size: 80%;
  line-height: 1.8rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blinc {
  animation: opacity 8s infinite;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

nav ul li{
  min-width: 3.2rem;
  flex-grow: 1;
  text-align: center;
}

article h2, article h3{
  margin-top: 2.5rem;
}

.top-19{
 top: 4.5rem;
}

p{
  padding: 1.5rem 0;
}

pre{
  background-color: #89898933;
  margin: 1rem 0;
  padding: 0.3rem 1.2rem;
  box-shadow:
  inset 0.1rem 0.1rem 0.1rem #89898999,
  inset -0.1rem 0.1rem 0.1rem #89898999,
  inset 0.1rem -0.1rem 0.1rem #89898999,
  inset -0.1rem -0.1rem 0.1rem #89898999;

  word-wrap: break-word;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  position: relative;
}

.react{
  background-color: #751b1b33;
}

.heightContainer{
  height: 25rem;
  padding: 1rem;
  position: relative;
}

.imgContainer{
  height: 19rem;
  padding: 1rem;
  position: relative;
}

.smallContainer{
  height: 12rem;
  padding: 1rem;
  position: relative;
}

.imgCollection{
  height: 8rem;
  display: flex;
  justify-content: space-between;
}

.imgNormal{
  width: 40%;
  position: absolute;
  top: 0.75rem;
  cursor: pointer;
  transition: 0.5s;
}

.imgHeight{
  height: 100%;
}

.medium{
  width: 60%;
}

.smallium{
  width: 49%;
}

.small{
  width: 35%;
}

.xsmall{
  width: 30%;
}

.imgHover, .imgNormal:hover{
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  cursor: pointer;
  transition: 1.5s;
}

th{
  padding: 0 1rem;
  border: solid 0.1rem;
}

td{
  padding: 0 1rem;
  text-align: center;
  border: solid 0.1rem;
}

.linkContainer{
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  padding: 1.25rem 0 2.5rem 0;
}

.linkContainer a{
  color: #0f53d0;
}

/* Live preview */

.fullstackSection{
  width: 95vw;
  padding: 0.2rem;
}

.livePreview{
  background-color: #0f53d033;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  position: relative;
  gap: 1rem;
}

.frontend, .backend{
  background-color: #0f53d033;
  color: rgb(16, 235, 16);
  width: 50%;
  height: 100%;
  overflow: auto;
}

.frontend code, .backend code{
  color: #dedede;
}

.feDescription, .beDescription{
  padding: 1rem 0;
  width: 30%;
  position: absolute;
  z-index: 1;
}

@media screen and (min-width: 1100px){
  :root{
    font-size: 130%;
  }

  nav a{
    /* font-size: 1.2rem; */
    margin: 0;
  }

  nav ul li{
    min-width: 3.4rem;
    font-size: 1.1rem;
  }
}


i{
  	color: #760314;
    font-size: 1.6rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

i:hover{
  color:#a7051d;
}

.bite{
  background-color: #09192a;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1rem 0 1rem 1rem;
}

.biteZero{
  position: absolute;
  top: 0;
  right: 0;
}

.biteOne{
  position: absolute;
  top: 1rem;
  right: 0;
}
.biteTwo{
  position: absolute;
  top: 0;
  right: 1rem;
}
.biteThree{
  position: absolute;
  top: -1rem;
  right: 1.25rem;
}
.biteFour{
  position: absolute;
  top: 1.25rem;
  right: -1rem;
}

/* ErrorHandling*/

.errorCard{
  background-color: #0f53d033;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem 0;
  padding: 1.5rem;
  border-radius: 0.5rem;
  gap: 2rem;
}

.errorCard h2{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  border: solid;
}

.errorCard p{
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.errorCard div{
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 1.7rem;
  border:solid;
}

.errorCard .errCode, .errorCard .errMsg{
  width: 50%;
  height: 100%;
  padding: 0.8rem;
  overflow: auto;
  border-radius: 1rem;
}

.errCode{
  background-color: #0f3c8f;
}

.errMsg{
  background-color: #772809;
}

.errorCard form, .errorCard .formControll{
  height: 15rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.errorCard .formControll p{
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.errorCard label, .errorCard input{
  width: 90%;
}

.errorCard form input{
  height: 2.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
}

.errorCard .check{
  background-color: #a7051d;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.3rem;
  margin: auto;
  border-radius: 0.5rem;
  border: solid;
}

/* CSS-Animationen */

/* Robby */

.helperSpace{
  width: 50%;
  display: flex;
}

.helper{
  width: 8rem;

  img{
    width: 100%;
  }
}

.helper:hover + .talkbubble{
  display: block;
}

.talkbubble {
  background: #ededed;
  color: #09192a;
  width: 10rem;
  height: fit-content;
  padding: 0.8rem;
  display: none;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #ededed;
  border-bottom: 13px solid transparent;
}

.animationBox{
  display: flex;

  .animationContentBox{
    height: 50vh;
    overflow: auto;
    border: solid;
  }
}