#root {
  

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.code{
  background-color: #89898933;
  padding: 0.5rem 1.5rem;
  box-shadow:
  inset 0.1rem 0.1rem 0.1rem #89898999,
  inset -0.1rem 0.1rem 0.1rem #89898999,
  inset 0.1rem -0.1rem 0.1rem #89898999,
  inset -0.1rem -0.1rem 0.1rem #89898999;
}

.react{
  background-color: #751b1b33;
}

.imgContainer{
  height: 19rem;
  padding: 1rem;
  position: relative;
}

.imgNormal{
  width: 50%;
  transition: 0.5s width;
}

.imgHover{
  width: 97%;
  height: auto;
  position: absolute;
  top: -18rem;
  transition: 1.5s width;
}
    